.who{
  display:flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.fitappimg{
  border: orangered;
  width: 100%;
  align-items: center;
}
.aboutus {
  display:flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.aboutpic{
border-radius: 25%;
/* border-color: orangered; */
/* border-width: 20%; */
/* width: 30%; */
align-items: center;
height: 220px;
}
.about{
  display:flex;
  /* border: 2px solid black; */
  width: 30%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;  
  
}
/* #who {
  display:flex;

} */


/* HOME */
#header-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background: #ff6633;
    width: 100%;
    justify-content: space-around;
  }
  
  h1 {
    /* display: flex; */
    /* align-items: center; */
    /* flex-direction: column; */
    font-weight: 700;
    /* background: #ff6633; */
    margin: 0 0 0 0;
  }
  
  #home-logo-mobile {
    display:none;
  }
  
  header nav {
    border: 2px solid white; */
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    background-color: #ff6633;
    flex-direction: column;
    /* /* align-items: center; */
  }
  
  header nav a {
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
    border: 4px solid white;
    border-radius: 7%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  header nav a:hover {
    color: #183080;
  }
  .dashboard {
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .balance {
    /* margin-top: 10px; */
    display:flex;
    margin-bottom: 10px;
    width:100%;
    justify-content: right;
  }
  .balancehrimg{
    width:40%;
    justify-content: right;

  }
  .info {
    margin-top: 10px;
    margin-bottom: 10px;
    width:20%;
  }
   
  .trans {
    margin-top: 10px;
    margin-bottom: 10px;
    width:100%; 
  }
  .transimg {
    width:90%;
  }
  footer {
   
    background-color: #ff6633;
    width: 110%;
    height: 100px;
    align-items: center;
    justify-content: space-evenly;
  }
  
  footer a{
    border: 2px solid white; 
    font-size: large;
    flex-direction: row;
    text-decoration: none;
    color: white;
    justify-content: space-evenly;
  }
  footer nav {
    display:flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
  }
  /* @media screen and (min-width: 500px) */
  @media screen and (min-width: 800px) {
    #home-logo-mobile {
      display: none;
    }
  
      #header-container {
        display: flex; 
        align-items: flex-end;
        justify-items: right;
        justify-content: space-around;
         border-bottom: 20px solid #ff6633;
      }
       header nav {
        border: 2px solid white; 
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background-color: #ff6633;
        flex-direction: row;
        align-items: center;
      }
      header nav a {
          font-size: 1.6rem;
          text-decoration: none;
          color: white(131, 46, 46);
          border-radius: 7%;
          margin-top: 10px;
          margin-bottom: 10px;
        }


        .who{
          display:flex;
          width: 100%;
          justify-content: space-evenly;
          align-items: center;
        }
        .fitappimg{
          border: orangered;
          width: 100%;
          align-items: center;
        }
        .aboutus {
          display:flex;
          justify-content: space-evenly;
          width: 100%;
          align-items: center;
          flex-direction: row;
          flex-wrap: wrap;
        }
        .aboutpic{
        border-radius: 25%;
        /* border-color: orangered; */
        /* border-width: 20%; */
        /* width: 30%; */
        align-items: center;
        height: 220px;
        }
        .about{
          display:flex;
          /* border: 2px solid black; */
          width: 30%;
          align-items: center;
          justify-content: space-evenly;
          flex-direction: column;
        }


      footer {
        margin-top: 10px;
      }
      footer p {
      color: white;
      font-size: larger;
      }
      footer nav {
        display: flex;
        justify-content: space-evenly;
      }
    
      footer nav a {
        font-size: 1.6rem;
        text-decoration: none;
        color: white;
      }
    
      footer nav a:hover{
        color: #fa991c;
      }
    }